.standartNavBar
 .logo
    .logo-img
      img(src="./svg/Group.svg")
    .logo-name
      img(src="./svg/TOXIN.svg")
 ul.group2
   li.group2-link.b
      a(href="") О нас   
   li.group2-link.n 
      a(href="") Услуги   
   li.group2-link.n 
      a(href="") Вакансии  
   li.group2-link.n 
      a(href="") Новости 
   li.group2-link.n 
      a(href="") Соглашения 
 a.buttonDefault1
   span войти
 a.buttonDefault2
   span зарегистрироваться